.boton{
    background: #444;
    border-radius: 10px;
    font-family: 'Indie Flower', cursive;
    padding: 26px 30px;
    border: none;
    color: white;
    margin: 32px 0px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}

.boton:hover{
    color: aqua;

}