.fantasia{
    background: rgb(222, 90, 151);
    margin: 0px;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.title{
    color: #4444;
    text-align: center;
    font-family: 'Permanent Market', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
}

.card{
    display: block;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}